<div class="row flex-lg-row-reverse align-item-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <img
      src="/img/hero-image.png"
      width="607"
      height="510"
      class="d-block mx-lg-auto img-fluid fade-in-right main_img"
      loading="lazy"
      alt="Cooking Blog"
    />
  </div>
  <div class="col-12 col-lg-6 py-5">
    <h1 class="display-5 fw-bold mb-3">Huge selection of delicious recipes</h1>
    <p class="lead">
      Delicious recipes, endless inspiration. Elevate your cooking skills with
      our diverse collection of flavorful dishes. Unleash your culinary
      creativity today!
    </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a
        href="/explore-latest"
        class="btn btn-primary btn-dark btn-lg px-4 me-md-2"
        >Explore Latest</a
      >
      <a
        href="/random-recipe"
        class="btn btn-outline-secondary btn-lg px-4 me-md-2"
        >Random Recipe</a
      >
    </div>
  </div>
</div>

<!-- Categories Start-->

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
  <% if (categories != '') { for (var i = 0; i < categories.length; i++) { %>
  <a
    href="/categories/<%= categories[i].name %>"
    class="col text-center category__link"
  >
    <div class="category__img shadow" data-aos="fade-in">
      <img
        src="/img/<%= categories[i].image %>"
        alt="<%= categories[i].name %>"
        loading="lazy"
      />
    </div>
    <div class="pt-1"><%= categories[i].name %></div>
  </a>
  <% } } %>

  <a href="/categories" class="col text-center category__link">
    <div class="category__img shadow" data-aos="fade-in">
      <img src="/img/view-all.jpg" alt="View All Categories" loading="lazy" />
    </div>
    <div class="pt-1">View All</div>
  </a>
</div>

<!-- Categories End-->

<!-- Latest Start-->

<section class="pb-4 pt-t">
  <div class="d-flex mb-2 align-item-center">
    <h2>Latest Recipes</h2>
    <a href="/explore-latest" class="ms-auto">View More</a>
  </div>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if (food != '') { %> <% food.latest.forEach(function (recipe, i) { %>
    <a href="/recipe/<%= recipe._id %>" class="col text category__link">
      <div class="category__img category__img--large shadow" data-aos="fade-in">
        <img
          src="/uploads/<%= recipe.image %>"
          alt="<%= recipe.name %>"
          loading="lazy"
        />
      </div>
      <div class="pt-1"><%= recipe.name %></div>
    </a>
    <% }) } %>
  </div>
</section>

<!-- Latest End-->

<!-- Thai Start-->

<section class="pb-4 pt-t">
  <div class="d-flex mb-2 align-item-center">
    <h2>Thai Recipes</h2>
    <a href="/Categories/Thai" class="ms-auto">View More</a>
  </div>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if (food != '') { %> <% food.thai.forEach(function (recipe, i) { %>
    <a href="/recipe/<%= recipe._id %>" class="col text category__link">
      <div class="category__img category__img--large shadow" data-aos="fade-in">
        <img
          src="/uploads/<%= recipe.image %>"
          alt="<%= recipe.name %>"
          loading="lazy"
        />
      </div>
      <div class="pt-1"><%= recipe.name %></div>
    </a>
    <% }) } %>
  </div>
</section>

<!-- Thai End-->

<!-- Chineese Start-->

<section class="pb-4 pt-t">
  <div class="d-flex mb-2 align-item-center">
    <h2>Chineese Recipes</h2>
    <a href="/Categories/Chineese" class="ms-auto">View More</a>
  </div>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if (food != '') { %> <% food.chinese.forEach(function (recipe, i) { %>
    <a href="/recipe/<%= recipe._id %>" class="col text category__link">
      <div class="category__img category__img--large shadow" data-aos="fade-in">
        <img
          src="/uploads/<%= recipe.image %>"
          alt="<%= recipe.name %>"
          loading="lazy"
        />
      </div>
      <div class="pt-1"><%= recipe.name %></div>
    </a>
    <% }) } %>
  </div>
</section>

<!-- Chineese End-->

<!-- American Start-->

<section class="pb-4 pt-t">
  <div class="d-flex mb-2 align-item-center">
    <h2>American Recipes</h2>
    <a href="/Categories/American" class="ms-auto">View More</a>
  </div>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if (food != '') { %> <% food.american.forEach(function (recipe, i) { %>
    <a href="/recipe/<%= recipe._id %>" class="col text category__link">
      <div class="category__img category__img--large shadow" data-aos="fade-in">
        <img
          src="/uploads/<%= recipe.image %>"
          alt="<%= recipe.name %>"
          loading="lazy"
        />
      </div>
      <div class="pt-1"><%= recipe.name %></div>
    </a>
    <% }) } %>
  </div>
</section>

<!-- American End-->

<!-- Sumbit Start-->

<section class="px-4 py-5 my-5 text-center">
  <img
    class="d-block mx-auto mb-4 img-fluid"
    src="/img/publish-recipe.png"
    alt="Publish your recipe for FREE today!"
    loading="lazy"
    width="566"
    height="200"
    data-aos="fade-in"
  />
  <h1 class="display-5 fw-bold">Publish your recipe for FREE today!</h1>
  <div class="col-lg-6 mx-auto">
    <p>Publish your recipe in front of the world for free.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg"
        >Submit Recipe</a
      >
    </div>
  </div>
</section>

<!-- Sumbit End-->
